:root {
    font-family: 'arial', sans-serif;
    font-size: medium;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: block flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    height: 100vh;
}

table {
    border-spacing: 0.5rem;
}

#display {
    width: 50px;
    height: 50px;
    border: solid 1px #808080;
    border-radius: 3px;
    text-align: end;
    padding: 0 0.75rem;
    font-size: larger;
    max-width: 276px;
    box-sizing: content-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    background-color: #405c00;
    user-select: none;
    letter-spacing: 2px;
}

#display-wrap {
    overflow: hidden;
    text-overflow: clip;
}

tbody td {
    width: 50px;
    height: 50px;
    border: solid 1px #c0c0c0;
    border-radius: 3px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: #404040;
    background-color: #fafafa;
    user-select: none;
}

tbody td:hover {
    background-color: #e6e6e6;
}

tbody td:active {
    background-color: #d8d8d8;
}

#app {
    border: solid 1px #d0d0d0;
    border-radius: 3px;
    background-color: #f4f4f4;
}

#ans {
    color: #e2e2e2;
}

#usr {
    color: #ffec3e;
}

#err {
    color: #ec0b0b
}
